  <article class="comment" id="{commentaire_ancre}">
	<header>
		<h3><a href="{commentaire_lien}" title="Aller au contexte"><i class="fa fa-comment-o"></i> {commentaire_ancre}</a> - <a href="#form-commentaire" onclick="reply('[b]@[{commentaire_auteur}|#{commentaire_ancre}] :[/b] ');" title="Répondre à l'auteur du commentaire">@Répondre</a> <img src="{commentaire_gravatar_link}?s=24" class="gravatar-icon" alt="gravatar" /> {commentaire_auteur_lien} - <span><i class="fa fa-calendar-o"></i> {commentaire_date} à <i class="fa fa-clock-o"></i>  {commentaire_heure}</span></h3>
	</header>
	{commentaire_contenu}
</article>