<article class="lien" id="{lien_permalink}">
	<header class="titre">
		<h2><a href="index.php?mode=links&amp;id={lien_permalink}" title="{lien_titre}"><i class="fa fa-globe"></i> {lien_id}</a> - <a href="{lien_url}" rel="nofollow" title="{lien_titre}">{lien_titre}</a></h2>
		<p class="date"><i class="fa fa-calendar-o"></i>   {lien_date} à <i class="fa fa-clock-o"></i>  {lien_heure} par <i class="fa fa-user"></i>  {lien_auteur}</p>
	</header>
	<p>{lien_description}</p>
	<p class="permalien"><i class="fa fa-link"></i> {lien_url}</p>
	<p class="tags"><i class="fa fa-tag"></i>  {lien_tags}</p>
</article>